/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0px;
    background-color: #017199; /* Color de respaldo */
}

/* Estilos del encabezado */
.header {
    background: #000;
    color: #fff;
    padding: 10px;
    text-align: center;
    font-size: 60px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

/* Estilos de la barra de navegación (vacío pero definido para uso futuro) */
.navbar {
    background-color: #000;
}

/* Estilos del contenido principal */
main {
    padding: 20px;
}

/* Estilos del contenedor de búsqueda */
.search-container {
    text-align: center;
    margin-bottom: 20px;
}

input[type="text"] {
    padding: 10px;
    width: 300px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/* Estilos de los libros */
.book {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
}

.book img {
    max-width: 100px;
    float: left;
    margin-right: 10px;
}

.book h2 {
    margin-top: 0;
}

/* Estilos específicos del proyecto de la API de libros */
body {
    background-image: url("/imagen/biblioteca2.jpg");
    background-color: #017199;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.center {
    margin: auto;
    margin-top: 200px;
}

#header {
    font-family: 'Righteous', sans-serif;
    font-size: 3rem;
}

h2 {
    font-family: 'Righteous', sans-serif;
}

.book-list {
    margin-top: 50px;
    visibility: hidden;
}
