


body{
  
  margin: 0;
  padding: 0;
  background: url(../fondo4.jpg);   
  background-size: cover;
  background-position: center;
  font-family: sans-serif;
}

li{
  color-scheme: red;
}


.carousel-inner{
  max-height: 39re;
}

  