.header{
  background: #000;
  color: #fff;
  padding: 10px;
  text-align: center;
  font-size: 60px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
}


body{
  
  margin: 0;
  padding: 0;
  background: url(../fondo4.jpg);   
  background-size: cover;
  background-position: center;
  font-family: sans-serif;
}

li{
  color-scheme: red;
}


.carousel-inner{
  max-height: 39re;
}

  